@import url("reset.css");

div {
  background-color: blue;
  color: white;
}

#text-red {
  color: red;
}
li.text-large {
  font-size: 60px;
}

/* 결합 선택자 */
div img {
  width: 400px;
}

div  > a {
  color: white;
}

div p + a {
  background-color: pink;
}

div p ~ a {
  background-color: pink;
}

/* 가상 선택자 */
.btn {
  background-color: green;
  color: white;
  border: none;
}
.btn:hover {
  background-color: blue;
  border-radius: 12px;
  cursor: pointer;
}
/* 박스 스타일 */
.box {
  width: 400px;
  height: 400px;
  background-color:red;
  color: white;
  /* padding: 20px 40px 20px 40px; */
  padding: 20px 40px;
  margin: 40px 0;
  box-sizing: border-box;
}

.children {
  width: 200px;
  height: 200px;
  background-color: blue;
  color: white;
}